# SHARED
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=development
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_EXCHANGE=join-request-events
RABBITMQ_QUEUE=notification.queue

# TV1 – User Service (Spring Boot)
USER_SERVICE_PORT=8081
USER_DB_URL=jdbc:postgresql://localhost:5432/user_db
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=secret

# TV1 – Review Service (Spring Boot)
REVIEW_SERVICE_PORT=8086
REVIEW_DB_URL=jdbc:postgresql://localhost:5432/review_db
REVIEW_DB_USERNAME=postgres
REVIEW_DB_PASSWORD=secret

# TV2 – Trip Service (Node.js)
TRIP_SERVICE_PORT=8082
TRIP_DB_HOST=localhost
TRIP_DB_PORT=5432
TRIP_DB_NAME=trip_db
TRIP_DB_USER=postgres
TRIP_DB_PASSWORD=secret

# TV2 – Join Request Service (Node.js)
JOIN_SERVICE_PORT=8083
JOIN_DB_HOST=localhost
JOIN_DB_PORT=5432
JOIN_DB_NAME=join_db
JOIN_DB_USER=postgres
JOIN_DB_PASSWORD=secret

# TV3 – Notification Service (Node.js)
NOTIFICATION_SERVICE_PORT=8084
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=secret

# TV3 – Chat Service (Node.js)
CHAT_SERVICE_PORT=8085
CHAT_DB_HOST=localhost
CHAT_DB_PORT=5432
CHAT_DB_NAME=chat_db
CHAT_DB_USER=postgres
CHAT_DB_PASSWORD=secret
