# SHARED SECRETS
JWT_SECRET=your_super_secret_jwt_key_must_be_long_enough
JWT_EXPIRES_IN=7d
NODE_ENV=development

# GLOBAL DATABASE SETTINGS
DB_USER=postgres
DB_PASSWORD=secret

# GLOBAL RABBITMQ SETTINGS
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# NOTIFICATION SERVICE
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# LOCAL PORTS (When not using API Gateway or running locally)
API_GATEWAY_PORT=3000
USER_SERVICE_PORT=8081
TRIP_SERVICE_PORT=8082
JOIN_SERVICE_PORT=8083
NOTIFICATION_SERVICE_PORT=8084
CHAT_SERVICE_PORT=8085
REVIEW_SERVICE_PORT=8086
